<!DOCTYPE html>
<style>
body{
	text-algn:center;
}
.header{
	color:black;
	font-size:30px;
	padding:10px;
	text-align:center;
}
table{
	text-align:center;
	margin:auto;
	width:30%;
	filter:alpha(opacity=40);
	color:black;
}
</style>
<head>
	<meta charset="UTF-8"/>
	<title>Upload success</title>
</head>
<body>
	<div class="header">upload succeed</div>
	<div class="header">Predicted number:{{digit}}</div>
	<!--
	<table>
		<tr>
			<td>Predicted number:</td>
			<td>{{digit}}</td>
		</tr>
	</table>
	-->
</body>
</html>
